body{
	background-color: lightgreen;


}

#add_event{
	background-color: black;
	
	position: absolute;
	left: 20%;
	top:10%;
	width: 550px;
	height: 100px;
	text-align: center;

}

#finish{
	position: absolute;
	left: 92%;
	top:75%;
	margin: 0px;
	border: 0px;
	background-color: blue;
	width: 43px;
	height: 20px;
	border-radius: 10px;


}

#add{
	position: absolute;
	left: 85%;
	top: 75%;
	margin: 0px;
	border: 0px;
	background-color: red;
	width: 35px;
	height: 20px;
	border-radius: 100%;

}

#new{
	position: absolute;
	top:15%;
	left: 2%;
	width: 500px;
	height: 50px;
	font-size: 30px;
	
}
#error{
	position: absolute;
	top: 80%;
	left: 2%;
	background-color:transparent;
	width: 400px;
	height: 20px;
	font-size: 25px;
	color: red;
}
#main{
	position: absolute;
	top: 35%;
	left: 20%;
	width: 60%;
	height: 10%;
	
	
	
}

#tasks{
	background-color: black;
	width: 500px;
	height: 30px;
	color: white;
	font-size: 30px;

}